.react {
  padding-top: 50px;
  display: grid;
  justify-items: center;
  gap: 20px;

  h1 {
    font-size: 20px;
    color: #8d6c9f;
    font-family: 'Courier New', Courier, monospace;
  }

  img {
    width: 150px;
  }

}